
.app .page-wrapper {
  padding: 4px 8px;
}

/* quote */

.card {
  
}

.quote {
  color: #333;
}

.quote .quote-name {
  text-align: left;
}

.quote .quote-price {
  margin: 0;
}

.quote.up .quote-price {
  color:  green;
}

.quote.down .quote-price {
  color:  red;
}

.quote .quote-updated {
  color: #ccc;
}
